* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF9EF;
}

#navbar {
    max-width: 100%;
    background-color: #343434;
    position: sticky;
    top: 0;
}

nav {
    margin: 0 10rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navname {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 0.875rem;
    color: #FFAC2F;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 0.875rem;
    text-decoration: none;
}

.menu-link:hover {
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: #FFAC2F;
}

.container {
    max-width: 100%;
}

.main-banner {
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.lato-bold {
    font-size: 5rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 1rem;
}


.spantext {
    color: #FFAC2F;
}

.banner-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.banner-span {
    font-weight: bold;
}

.banner-subtext {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.personality-section {
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.left-personality {
    margin-right: 2rem;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.education-section {
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.left-education {
    margin-right: 2rem;
}

.internship-section {
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.left-internship {
    margin-right: 2rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
}

.abilities-section {
    margin: 0 10rem;
    padding: 2rem 0;
}

.tools {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.skills {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.resume-section {
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

button {
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
}













@media only screen and (max-width: 1138px) {

    .main-banner {
        flex-direction: column;

    }

    .lato-bold {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 948px) {

    nav {
        flex-direction: column;
    }

    .navname {
        text-align: center;
        padding-bottom: 0.8rem;
    }

    ul {
        justify-content: center;
    }

    .left-banner {
        text-align: center;
    }

    .main-banner {
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 743px) {

    nav {
        margin: 0;
    }
}

@media only screen and (max-width: 516px) {

    nav {
        margin: 0;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        padding: 0.5rem 0;
    }
}